body{
    display:flex;
    flex-direction: column;
    background-color: rebeccapurple;
}
h1{
    text-transform: capitalize;
    font-size: 30px;
    
}
.block-1{
    width: 100%;
    height: 300px;
    
    background-image: url('image4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
   align-items: center;
}
.block-1 img{
    width: 10%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 3%;

}
.block-1 h1{
    position: absolute;
    top: 25%;
    left: 45%;
    text-transform: capitalize;
    font-size: 50px;
}
.block-1 .line{
    border: solid black 1px;
    position: absolute;
    top: 60%;
    left: 43%;
    width: 20%;
}
.block-1 p{
    position: absolute;
    top: 58%;
    left: 43%;
    text-transform: capitalize;
    font-size: 25px;
}
.furniture{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.furniture .fun1{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: space-between;
}
.furniture h1{
    color: white;
    font-size: 40px;
    
}
.fun1 .item{
    width: 23%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}
.fun1 .item:hover{
    background-color: rgba(33, 247, 5, 0.63);
}
.item img{
    height: 60%;
    width: 70%;
    margin-left: 20%;
}
.item h2{
    position: absolute;
    text-transform: capitalize;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left:-17%;
}
.item h3{
    margin-top: 1%;
    background-color: white;
    padding: 3px;
    border-radius: 3px;

}
.item h4{
    position: absolute;
    margin-left: -18%;
    margin-top: 1%;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    color: white;
    text-align: center;
}
.item a{
    width: 30%;
    padding: 5px;
    color: black;
    background-color: greenyellow;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;

}
.item a:hover{
    background-color: rgb(43, 226, 113);
    color: white;

}

.clothings{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.clothings h1{
    color: white;
    font-size: 40px;
    
}
.clothings .fun1{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: space-between;
}
.fun1 .item{
    width: 23%;
    height: 200px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.cook{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.cook h1{
    color: white;
    font-size: 40px;
    
}
.cook .fun1{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: space-between;
}
.fun1 .item{
    width: 23%;
    height: 200px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}


.beddings{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.beddings h1{
    color: white;
    font-size: 40px;
    
}
.beddings .fun1{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: space-between;
}
.fun1 .item{
    width: 23%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}


.electronics{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.electronics h1{
    color: white;
    font-size: 40px;
    
}
.electronics .fun1{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: space-between;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(90, 12, 143, 0.767);
}
